.padding {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 10px auto;
}

.container {
    width: 15em;
    height: 20em;
    background-color: lightgray;
    border-radius: 15px;
    float: left;
}

    .container img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
        height: 70%;
    }

    .container h1 {
        text-align: center;
    }